[Unit]
Description=Synchronize mail dirs between IMAP accounts and this computer

[Service]
ExecStart=/usr/bin/offlineimap -o
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=syncmail
Type=oneshot
