# Keep that up here to have the right record and so on
source $my_configdir/acc.shared.mutt

set record="{{ item.mutt.sent }}"
set postponed="{{ item.mutt.draft }}"
set trash="{{ item.mutt.trash }}"

# cloak system name
set hostname="{{ item.hostname }}"
set from="{{ item.from }}"
set realname="{{ item.realname }}"
set signature=$my_configdir/sig_{{ item.name }}
set sig_on_top=yes

set smtp_url="smtp://{{ item.user }}@{{ item.server }}:{{ item.smtp_port | default(465) }}"
# always use SSL when connecting to a server
set ssl_starttls=yes
set ssl_force_tls=yes

# smtp passwd outsourced
set smtp_pass=`cat {{ mail_password_dir }}/{{ item.name }}`

# Look status line
color status white {{ item.color }}
