# {{ ansible_managed }}

Expunge None # TODO: configure as Expunge Both when IMAP deletion works
Create Both

MaildirStore local
Path ~/.mail/

{% for account in mutt_accounts %}

IMAPStore {{ account.name }}
Host {{ account.imap_server | default(account.server) }}
User {{ account.user }}
PassCmd "{{ account.password }}"
SSLType IMAPS
SSLVersions TLSv1.2

Channel {{ account.name }}
Master :{{ account.name }}:
Slave :local:{{ account.name }}
Sync All
SyncState *
{% endfor %}
